*{
    margin: 0;
    padding: 0;
}

#main-grid{
    height: 1000px;
    width: auto;
    box-sizing: border-box;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;

}

.header{
    background-color: red;
}

.side-bar{
    background-color: blue;
    grid-row: 1/3;
}

.main{
    box-sizing: border-box;
    padding: 10px;
    background-color: grey;    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-row: 1/3;

}

.card{
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.announcements{
    background-color: white;
}

.trending{
    background-color: white;
}



